@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url("https://use.typekit.net/taw5ebb.css");

/* GENERAL STYLE */
* {
    -webkit-overflow-scrolling: touch;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito Sans';
    color: #333;
}
a { 
    font-family: 'Poppins';
    font-weight: 500;
    text-align: center;
    text-decoration: none !important;
}
b {
    font-weight:600;
}
p { 
    font-size: 18px;
    line-height: 22px;
}
br {
    line-height: 50px;
}
h1{
    font-family: 'Poppins';
    font-weight:300;
    font-size:35px;
}
h2 {
    font-family: 'Poppins';
    font-weight:600;
    letter-spacing: 0.1rem;
}
.fa, .fab, .fas{
    color: rgba(0,0,0,.5);
    padding: 10px;
    cursor: pointer;
}
.fa-angle-down{
    color: rgba(0,0,0,.2);
}
.arrow {
    text-align: center;
    position: relative;
    top: -20vh;
    z-index: 1;
}
.subtitle{
    font-size:16px;
    font-weight:300;
}
.subtitle_bold{
    font-size:16px;
    font-weight:600;
}
.subtitle_date{
    letter-spacing: 0.1rem;
    font-style:italic;
    font-size:17px;
    font-weight:300;
}
.customsubtitle{
    font-weight:300;
    line-height: 50px;
    font-size: 20px;
}
.hoverBold{
    color: #333;
}
.hoverBold:hover{
    color: rgba(0,0,0,.5) !important;
}
.circleShadow{
    border-radius: 500px;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
}
.zoom:hover{
    color: #333;
    transform: scale(1.15);
    transition: 0.1s;
}
#work{
    display: block; 
    position: relative; 
    top: -150px; 
    visibility: hidden;
}

/* GENERAL AND MOBILE STYLE */
h2 {
    font-size:20px;
}
#navigationContainer {
    background-color: rgba(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#navigationName{
    color: #333;
    margin-left:10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-item{
    letter-spacing: 0.1rem;
    padding-left: 5px;
}
.navbar-light .navbar-nav .nav-link{
    color:#333;
}
.navigationShadow {
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 1px 10px #d6d6d6;
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 10% 10% 30% 10%; 
}
#headerText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#headertag{
    display: none;
}
#name{
    color: #333;
}
#projectSectionTitle{
    text-align:center;
    font-style: italic;
    letter-spacing: 0.2rem;
    font-size: 25px;
}
#projectContainer, #projectArchiveContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.row{
    display: flex;
    flex-direction: column;
}
.projectArchive, .projectSelect{
    width:85vw;
    background-color: rgb(248, 248, 248);
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    margin: 15px 15px 0px 15px;
    padding: 15px 15px 0px 15px;
    transition: transform .2s; 
}
.projectSelect{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 15px 0px 15px;
    padding: 15px 15px 15px 15px;
}
.acc__title{
    cursor:pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dropdownArrow{
    color: rgba(0,0,0,.5);
    margin-top: -10px;
}
.acc__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 0px;
    text-align: left;
}
.projectSelect:hover, .projectArchive:hover{
    box-shadow: 4px 4px 0 0 #333;
    background-color: rgb(245, 255, 190);
    transform: scale(1.01);
}
.projectArchive:hover{
    /* background-color: rgb(255, 220, 200); */
    background-color: rgb(255, 255, 235);
}
.buttonrow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.tagrow{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.projectbuttons{
    color: #333;
    font-size: 22px;
    display:flex;
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
}
.projecttag {
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    background-color: rgb(248, 248, 248);
    font-size: 11px;
    padding: 5px 10px 5px 10px;
    margin: 4px;
}
#profileContainer{
    display:flex;
    flex-direction: column-reverse;
    flex-shrink: 3;
    justify-content: center;
    margin:auto;
    max-width: 85vw;
    padding-bottom: 50px;
}
img{
    max-width: 60vw;
}
#profileImage{
    margin:auto;
    padding: 20px;
}
#profileText{
    max-width:90vw;
    text-align: left;
    padding: 20px;
    padding-top: 10px;
}
#rightIcons{
    position: fixed;
    right: 2vw;
    bottom: 0;
    display:flex;
    flex-direction: column;
    font-size: 20px;
    height: 35vh;
    display:none;
}
#bottomIcons{
    padding-top: 20px;
    font-size: 22px;
}
#footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-bottom: 20px;
    color: rgba(0,0,0,.5);
}
#footerFont{
    font-size:16px;
}

/* DESKTOP AND TABLET STYLE */
@media screen and (min-width: 750px) {
    #navigationContainer {
        background-color: rgba(255, 255, 255,0.5);
        backdrop-filter: blur(5px);
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 27px;
    }
    .arrow{
        top: -10vh;
    }
    .subtitle_bold{
        font-size:17px;
    }
    #header{
        margin-left: 0;
        width: 100vw;
        padding: 0;
        flex-direction: row;
        justify-content: center;
    }
    #bottomIcons{
        display: none;
    }
    #rightIcons{
        right: 1vw;
        display: flex;
    }
    .vl{
        border-left: 1px solid rgba(0,0,0,.5);
        height: 20vh;
        margin-top:20px;
        margin-left: 50%;
        top: 0;
    }
    .categorytag {
        color: #333;
        letter-spacing: 0.1rem;
        overflow: auto;
        margin-left: 8px;
        margin-right: 8px;
        padding: 7px 15px 6px 15px !important;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-style: solid;
        border-width: 2px;
        border-radius: 3px;
        -webkit-transition: opacity 200ms ease, box-shadow 200ms ease-out, background-color 200ms ease-out, -webkit-transform 200ms ease-out;
        transition: opacity 200ms ease, box-shadow 200ms ease-out, background-color 200ms ease-out, -webkit-transform 200ms ease-out;
        transition: opacity 200ms ease, box-shadow 200ms ease-out, transform 200ms ease-out, background-color 200ms ease-out;
        transition: opacity 200ms ease, box-shadow 200ms ease-out, transform 200ms ease-out, background-color 200ms ease-out, -webkit-transform 200ms ease-out;
        -o-object-fit: fill;
        object-fit: fill;
    }
    a:hover{
        color: #333 !important;
    }
    .categorytag:hover {
        box-shadow: 4px 4px 0 0 #333;
        /* background-color: rgb(255, 220, 200); */
        -webkit-transform: translate(-4px, -2px) skew(-4deg, -2deg);
        transform: translate(-4px, -2px) skew(-4deg, -2deg);
    }
    #headertag{
        display: flex;
        margin-top:20px;
        font-size: 20px;
        color: #333;
    }
    #projectContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .row{
        flex-direction: row;
    }
    .projectArchive , .projectSelect{
        width: 39vw;
        margin: 20px 20px 20px 20px;
        padding: 20px 20px 10px 20px;
    }
    .projecttag {
        font-size: 14px;
        margin:5px;
    }
    #projectArchiveContainer{
        flex-direction: row;
    }
    img{
        width: 25vw;
    }
    #profileText{
        width: 45vw;
    }
    #profileImage{
        flex-direction: column;
        justify-content: flex-start;
        margin-top:30px;
    }
    #profileContainer{
        max-width: 80vw;
        flex-direction: row;
    }
    .dropdownArrow{
        margin-top: 0px;
    }
}

/* DESKTOP ONLY STYLE */
@media screen and (min-width: 1400px) {
    #header{
        margin-left: 12vw;
        max-width: 900px;
    }
    .projectArchive , .projectSelect{
        width: 32vw;
    }
    #rightIcons{
        right: 2vw;
    }
    #profileText{
        width: 35vw;
    }
    #profileContainer{
        max-width:55vw;
        flex-direction:row;
    }
    img{
        width: 14vw;
    }
}

/* ANIMATIONS */
.fadein {
    animation: fadein 1s ease-in-out;
}
@keyframes fadein {
    0% {
      transform: translateX(-5vh);
      opacity: 0;
    }
    100% {
      transform: translateX(0vh);
      opacity: 1;
    }
}
.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}
  