@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url("https://use.typekit.net/taw5ebb.css");

:root {
    --main: #333;
    --light: rgba(0,0,0,.5);
    --lighter: rgba(0,0,0,.2);
    --lightest: #f7f7f7;
    --paragraph: #333;
    --projectcolor: #ffffff;
    --projectcolorhover: #ffffff;
    --background: #ffffff;
    --desktopnav:  rgba(255, 255, 255,0.6);
    --shadow: #d6d6d6;
    --border: 2px;
    --projectborder:0px;
    --boxshadow: 5px 5px 15px #d7d7d7;
    --bold: 400;
    --titlebold: 500;
    --body: 300;
    --filter: none;
    --invert: invert(0);
}
[data-theme="dark"] {
    --main: #FFFFECCC;
    --light:#FFFFEC66;
    --lighter: #FFFFEC33;
    --lightest: #151515;
    --paragraph: #FFFFECBF;
    --projectcolor: #1A1A1Acc;
    --projectcolorhover:#242424;
    --background: #0A0A0A;
    --desktopnav:  #0A0A0A99;
    --shadow: #000000;
    --border: 1px;
    --projectborder:0px;
    --boxshadow: none;
    --bold: 300;
    --titlebold: 400;
    --body: 200;
    --filter: brightness(0.7);
    --invert: invert(1);
}

/* GENERAL STYLE */
* {
    -webkit-overflow-scrolling: touch;
}
html{
    scroll-behavior: smooth;
}
body {
    overflow-x:hidden;
    position: relative;
    background-color: var(--background);
    font-family: 'IBM Plex Sans',sans-serif;
    color: var(--main);
}
a { 
    font-family: 'Poppins';
    font-weight: var(--titlebold);
    text-align: center;
    text-decoration: none !important;
}
a:hover{
    color:var(--main);
}
b {
    font-weight:var(--titlebold);
}
p { 
    color:var(--paragraph);
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.05rem;
}
br {
    line-height: 50px;
}
h1{
    font-family: 'Poppins';
    font-weight:var(--body);
    font-size:32px;
    letter-spacing: 0.05rem;
}
.inactive{
    color: var(--light) !important;
}
.navbar-toggler {
    border-color: var(--lighter) !important;
}
.navbar-toggler-icon{
    color: var(--light) !important;
}
h2 {
    font-family: 'Poppins';
    font-weight: var(--titlebold);
    letter-spacing: 0.05rem;
}
.fa, .fab, .fas{
    color: var(--light);
    padding: 12px;
    cursor: pointer;
}
.fa-angle-down{
    color: var(--lighter);
}
.arrow {
    text-align: center;
    position: absolute;
    bottom: 15vh;
    z-index: 3;
}
.subtitle{
    font-weight:var(--body);
}
.subtitle_bold{
    font-family: 'Poppins';
    color: var(--main);
    font-size:15px;
    font-weight: var(--bold);
}
.subtitle_date{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size:17px;
    font-weight:300;
    color: var(--light);
}
.subtitle_about{
    font-size: 17px;
}
.title_about{
    font-family: 'IBM Plex Sans';
    text-transform: uppercase;
    text-align:left;
    font-style: normal;
    letter-spacing: 0.2rem;
    font-size: 20px;
    padding-top: 10px;
    line-height: 30px;
}
.hoverBold{
    font-family: 'IBM Plex Sans';
    color: var(--main);
}
.circleShadow{
    border-radius: 500px;
    box-shadow: 0px 3px 8px 0px var(--shadow);
}
.zoom:hover{
    transform: scale(1.15);
    transition: 0.1s;
}
#work{
    display: block; 
    position: relative; 
    visibility: hidden;
    top: -10vh;
}
#about{
    margin-top: 7vh;
}
a.desktop-only{
    display:none;
}

/* GENERAL AND MOBILE STYLE */
h2 {
    font-size:20px;
}
#navigationContainer {
    background-color: var(--desktopnav);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    -ms-backdrop-filter:blur(7px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}
#navigationName{
    color: var(--main);
    margin-left:10px;
    font-size: 22px;
    letter-spacing: 0.05rem;
    cursor: pointer;
}
.nav-item{
    letter-spacing: 0.1rem;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 3;
}
.nav-item a{
    font-family: 'IBM Plex Sans';
    font-weight: var(--titlebold);
}
.navbar-light .navbar-nav .nav-link{
    color:var(--main);
}
.navbar-light .navbar-toggler{
    filter: var(--invert);
}
.navigationShadow {
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 3px 10px var(--shadow);
}
#header{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 10% 10% 30% 10%; 
}
#headerText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#headerSubText{
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}
#headertag{
    display: none;
}
#name{
    color: var(--main);
}
.projectSectionTitle{
    font-family:'IBM Plex Sans';
    text-transform: uppercase;
    text-align:left;
    font-style: normal;
    letter-spacing: 0.2rem;
    font-size: 20px;
    margin: auto;
    max-width: 85vw;
    padding: 10px;
    line-height: 30px;
}
#projectContainer, #projectArchiveContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.row{
    display: flex;
    flex-direction: column;
}
.projectArchive, .projectSelect{
    width:85vw;
    background-color: var(--projectcolor);
    border-style: solid;
    border-width: var(--projectborder);
    border-radius: 15px;
    margin: 25px 15px 0px 15px;
    padding: 20px 20px 5px 20px;
    transition: transform .2s; 
    box-shadow: var(--boxshadow);
}
.projectSelect{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 15px 20px;
}
.projectSelect:hover, .projectArchive:hover{
    background-color: var(--projectcolorhover);
    transform: scale(1.03);
}
.acc__title{
    cursor:pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dropdownArrow{
    color:var(--light);
    margin-top: -10px;
    padding-left: 20px;
}
.acc__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 0px;
    text-align: left;
}
.buttonrow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.tagrow{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.projectbuttons{
    color: var(--main);
    font-size: 22px;
    display:flex;
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
}
.projecttag {
    border-style:solid;
    border-color: var(--light);
    border-width: 1px;
    border-radius: 40px;
    background-color: var(--projectcolor);
    font-size: 11px;
    font-weight: var(--body);
    padding: 5px 10px 5px 10px;
    margin: 4px;
}
.profileContainer{
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-shrink: 3;
    margin:auto;
    max-width: 85vw;
    padding-top: 25px;
    padding-bottom: 50px;
}
.images{
    background-color: var(--lightest);
    padding-top:40px;
    padding-bottom:40px;
}
.imageContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 85vw;
    margin: auto;
}
#about{
    padding-bottom: 50px;
}
.about_image{
    padding-top: 30px;
    padding-bottom:30px;
    width: 75vw;
    filter: var(--filter);
}
.headshot{
    filter: var(--filter);
    max-width: 300px;
}
#profileImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.profileText{
    max-width:90vw;
    text-align: left;
    padding: 10px;
    padding-top: 10px;
}
#leftIcons{
    display:none;
}
#bottomIcons{
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 22px;
}
#footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-bottom: 20px;
    color: var(--light);
}
#footerFont{
    font-size:16px;
    font-weight: var(--body);
}

/* DESKTOP AND TABLET STYLE */
@media screen and (min-width: 750px) {
    h1{
        font-size: 45px;
    }
    #navigationContainer{
        padding: 3px;
    }
    .arrow{
        bottom: 5vh;
    }
    #headerText{
        min-width:79vw;
    }
    #headerSubText{
        max-width: 79vw;
        font-size: 24px;
    }
    #header{
        margin-left: 0;
        width: 100vw;
        padding: 0;
        flex-direction: row;
        justify-content: center;
    }
    a:hover{
        color: var(--main) !important;
    }
    #projectArchiveContainer{
        align-items: flex-start;
    }
    #projectContainer{
        display:flex;
        flex-direction: column;
    }
    .row{
        flex-direction: row;
    }
    .projectArchive , .projectSelect{
        width: 39vw;
    }
    .projectSelect{
        margin: 20px 20px 20px 20px;
        padding: 25px 25px 25px 25px;
    }
    .projectArchive{
        margin: 20px 20px 30px 20px;
        padding: 25px 25px 10px 25px;
    }
    #projectArchiveContainer{
        flex-direction: row;
    }
    .profileContainer{
        max-width: 80vw;
    }
    .imageContainer{
        max-width: 80vw;
        flex-direction: row;
    }
    .about_image{
        padding-left: 5px;
        padding-right:5px;
        width: 25vw;
    }
    #profileImage{
        justify-content: flex-start;
    }
    .dropdownArrow{
        margin-top: 0px;
    }
    .projectSectionTitle{
        max-width: 80vw;
    }
}

/* DESKTOP ONLY STYLE */
@media screen and (min-width: 990px) {
    .profileContainer{
        flex-direction: row;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 27px;
    }
    #headertag{
        display: flex;
        margin: 0;
        margin-top:20px;
        font-size: 20px;
        color: var(--main);
    }
    .categorytag {
        color:var(--main);
        letter-spacing: 0.1rem;
        overflow: auto;
        margin-left: 8px;
        margin-right: 8px;
        padding: 7px 15px 6px 15px !important;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-style: solid;
        border-width: var(--border);
        border-radius: 3px;
        -webkit-transition: opacity 200ms ease, box-shadow 200ms ease-out, background-color 200ms ease-out, -webkit-transform 200ms ease-out;
        transition: opacity 200ms ease, box-shadow 200ms ease-out, background-color 200ms ease-out, -webkit-transform 200ms ease-out;
        transition: opacity 200ms ease, box-shadow 200ms ease-out, transform 200ms ease-out, background-color 200ms ease-out;
        transition: opacity 200ms ease, box-shadow 200ms ease-out, transform 200ms ease-out, background-color 200ms ease-out, -webkit-transform 200ms ease-out;
        -o-object-fit: fill;
        object-fit: fill;
    }
    .categorytag:hover {
        box-shadow: 4px 4px 0 0 var(--main);
        -webkit-transform: translate(-4px, -2px) skew(-4deg, -2deg);
        transform: translate(-4px, -2px) skew(-4deg, -2deg);
    }
    .projecttag {
        font-size: 14px;
        margin:5px;
    }
}
@media screen and (min-width: 1400px) {
    a.desktop-only{
        display:block;
    }
    #header{
        margin:auto;
    }
    #headerText{
        min-width:64vw;
    }
    #headerSubText{
        max-width: 64vw;
    }
    .projectArchive, .projectSelect{
        width: 32vw;
    }
    .profileContainer{
        max-width:65vw;
    }
    .imageContainer{
        max-width: 65vw;
    }
    .about_image{
        width: 20vw;
    }
    .projectSectionTitle{
        max-width: 65vw;
    }
    /* #bottomIcons{
        display: none;
    } */
    #leftIcons{
        position: fixed;
        opacity: 0;
        bottom: 30px;
        left: 20px;
        display:flex;
        flex-direction: column;
        font-size: 22px;
        z-index:5;
    }
    #leftIcons a{
        padding: 15px;
    }

}

@media screen and (min-width: 2000px) {
    h1{
        font-size: 60px;
    }
    #headerText{
        min-width: 56vw;
    }
    #headerSubText{
        font-size: 32px;
    }
    .projectArchive, .projectSelect{
        width: 28vw;
    }
    .profileContainer{
        max-width:57vw;
    }
    .projectSectionTitle{
        max-width: 57vw;
    }
}

/* ANIMATIONS */
.fadein {
    animation: fadein 1s ease-in-out;
}
@keyframes fadein {
    0% {
      transform: translateX(-5vh);
      opacity: 0;
    }
    100% {
      transform: translateX(0vh);
      opacity: 1;
    }
}
.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}

 /* DARK MODE TOGGLE */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
}
.theme-switch, .theme-switch-wrapper-mobile{
    display: inline-block;
    height: 30px;
    position: relative;
    width: 56px;
    margin: auto;
}
.theme-switch-wrapper-mobile{
    position:absolute;
    right: 85px;
    top: 14px;
}
.theme-switch input {
    display:none;
}
.slider {
    background-color: var(--lighter);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--background);
    bottom: 4px;
    content: "";
    height: 22px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 22px;
}
input:checked + .slider {
    background-color: var(--light);
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
@media screen and (min-width: 1400px) {
    .slider:hover {
        background-color: var(--light);
    }
    input:checked + .slider:hover{
        background-color: var(--main);
    }
}